<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
  </head>
  <body>
    <%- include('./partials/navBar')%>
    <h1>Full Menu</h1>

    <h2>Mains</h2>
    <ol>
    <% menuArray.forEach(element => {%>

        <%if(element.category ==='mains'){%>
          <li>
            <h1><%= element.name%></h1>
            <p>Price: $<%= element.price%></p>
            <p>Rating: <%= element.rating%></p>
            <p>Details: <%= element.details%></p>
          </li>
    <%}})%>
    <h2>Desserts</h2>
    <% menuArray.forEach(element => {%>
        <%if(element.category ==='desserts'){%>
          <li>
            <h1><%= element.name%></h1>
            <p>Price: $<%= element.price%></p>
            <p>Rating: <%= element.rating%></p>
            <p>Details: <%= element.details%></p>
          </li>
    <%}})%>
    <h2>Sides</h2>
    <% menuArray.forEach(element => {%>
        <%if(element.category ==='sides'){%>
          <li>
            <h1><%= element.name%></h1>
            <p>Price: $<%= element.price%></p>
            <p>Rating: <%= element.rating%></p>
            <p>Details: <%= element.details%></p>
          </li>
    <%}})%>
  </ol>
  </body>
</html>
